*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
header h1{
    border-radius: 5px;
    font-size: 2rem;
    padding: 30px 10px;
    background-color: rgb(239, 235, 235);
    margin: 0 5px;
}
header span{
    font-size: 2.2rem;
    font-family:   helvetica arial sans-serif;
}
header nav{
    border-radius: 5px;
    background-color: rgb(57, 55, 55);
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}
header nav ul{
    list-style-type: none;
    display: flex;
    gap: 60px;
}
header nav ul li a{
   color: white;
   padding: 5px 20px;
   border-radius: 7px;
   text-decoration: none;
}
header nav ul li a:hover{
    background-color: white;
    color: black;
}
section{
    display: flex;
}
section div{
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
section div h1{
    text-align: center;
    padding: 20px 10px;
}
section div p{
    text-align: center;
    padding: 10px 25px;
}
section div a{
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
    margin: 10px 30px;
    color: white;
    border-radius: 30px;
    background-color: rgb(58, 55, 55);
}
section .box{
    border: solid 2px;
    width: 300px;
}
section .box input{
    margin: 5px 5px;
    height: 40px;
}
section .box label{
    margin: 5px 5px;
}
section .box button{
    margin: 5px 5px;
    border-radius: 3px;
    height: 40px;
    border: solid 1px;
    background-color: rgb(27, 59, 60);
    color: aliceblue;
}
section .box-1:hover{
    border: solid 2px;
    transform: scale(1.1);
    background-color: rgb(212, 215, 238);
    border-radius: 10px;
    cursor: pointer;
}
@media screen and (max-width:900px){
    header nav{
        height: 200px;
    }
    header nav ul{
        display: block;
    }
    header nav ul li{
        margin: 10px;
    }
    section {
        display: block;
    }
    section div{
        
    }
}